.container {
    height: 100vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.header {
    background:url('../images/step1bg.jpg');
    -webkit-box-shadow: inset 0px 0px 31px 24px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 31px 24px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 31px 24px rgba(255,255,255,1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: -20px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.content-title {
    color: #13689a;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.content-description {
    line-height: normal;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
}

.content-btn {
    text-align: center;
    margin-top: 45px;
}

.content-btn-started {
    background: #fff;
    border: 1px solid #13689a;
    border-radius: 3px;
    padding: 10px 20px;
    color: #13689a;
    text-transform: uppercase;
    font-size: 0.9rem;
    box-shadow: 0px 2px 5px gray;
    font-weight: bold;
}

.footer {
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
    margin-right: 8px;
}

.dot:last-child {
    margin-right: 0px;
}

.dot-selected {
    background: #13689a;
}

@media screen and (max-height: 700px) {
    .content-description {
        margin-top: 20px;
    }

    .content-title {
        font-size: 1.3rem;
    }

    .content-description {
        font-size: 1.1rem;
        margin-top: 15px;
    }

    .content-btn {
        margin-top: 25px;
    }
    
}

@media screen and (max-height: 660px) {

    .header {
        height: 45vh;
    }

    .content-title {
        font-size: 1.2rem;
    }

    .content-description {
        font-size: 1rem;
    }
    
    .content-btn {
        margin-top: 20px;
    }

    .content-btn-started {
        padding: 5px 10px;
        font-size: 0.9rem;
    }
    
}